/* 
1. Crear un Documento HTML y vincularlo con un CSS 
2. Crear una estructura HTML que cuente con un CONTENEDOR GENERAL, CABECERA, MENU, BARRA LATERAL, SECCIÓN DE CONTENIDO PRINCIPAL, ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL Y FOOTER.
3. Todo el contenido debe estar dentro del contenedor general y su ancho será de 1200px y estar centrado.
4. Header debe ocupar el 100% de ancho y tener un texto grande centrado.
5. Menu debe tener los elementos uno al lado del otro.
6. El contenido principal debe tener un ancho del 70%.
7. El contenido dentro del contenedor principal debe ser una cuadricula con 4 lineas de 2 cajas.
8. La barra lateral debe tener un ancho del 30%.
9. El footer debe tener un ancho del 100% del div que lo contiene y estar abajo del todo.
*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#contenedorGeneral {
    /*border: 1px solid black;*/
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
}

#cabecera {
    /*border: 1px solid black;*/
    width: 100%;
    height: 100px;
    background-color: rgba(101, 101, 228, 0.767);
    text-align: center;
    /*font-size: 25px;*/
    color: white;
    line-height: 100px; /* Centra el texto verticalmente */
}

/* ############## FORMA CON DISPLAY-BLOCK ############## */
/* Nota: Con esta forma queda un espacio entre los elementos del menú que no se pueden quitar */

/*
#menu {
    background-color: #eee;
}

#menu ul li{
    display: inline-block;
    border-right: 1px solid #ccc;
}

#menu ul li a {
    padding: 12px;
    color: rgb(61, 94, 202);
    display: block;
}

#menu ul li a:hover , #menu ul li:hover {
    color: white;
    background-color: rgba(101, 101, 228, 0.767);
}

*/


/* ############## FORMA CON FLOAT ############## */

#menu ul li {
    display: block;
    float: left;
    border-right: 1px solid #ccc;
}

.clearFix {
    float: none;
    clear: both;
}

#menu {
    background-color: #eee;
}

#menu ul li a {
    color: rgb(61, 94, 202);
    display: block;
    padding: 12px;
}

#menu ul li:hover {
    background-color: rgb(61, 94, 202);
}

#menu ul li:hover a {
    color: white;
}




#contenido {
    width: 70%;
    /*background-color: rgba(155, 205, 209, 0.767);*/
    float: left;
}

#lateral {
    width: 30%;
    background-color: rgba(219, 219, 223, 0.767);
    float: left;
    text-align: center;
    min-height: 500px;
}

#lateral .caja h2 {
    margin-top: 25px;
}



#contenido .caja {
    border: 1px solid gray;
    background-color: #ccc;
    float: left;
    width: 40%;
    height: 350px;
    margin: 41px;
    color: #444;
    text-transform: uppercase;
    
    box-shadow: 5px 5px 10px gray; /* Sombra ( exterior ) para la caja ( los parámetros son los mismo que la sombra de texto ) */
    
    border-radius: 50px; /* Bordes redondeados ( aplica la medida a todos los bordes igual )  */
    border-radius: 50px 20px 10px 90px; /* Bordes redondeados ( arriba-izquierda , arriba-derecha , abajo-derecha, abajo-izquierda ) */
    border-radius: 200px; /* Con una medida muy grande podemos hacer un círculo ( debe ser un cuadrado perfecto , mismo ancho y alto ) */
}

.sombra-interior {
    box-shadow: 0px 0px 20px gray inset !important; /* Sombra ( interior ) para la caja ( los parámetros son los mismo que la sombra de texto ) */
}

#contenido .caja h2 {
    text-align: center;
    line-height: 350px;
}

#contenido > h1 {
    border-bottom: 2px solid rgb(110, 101, 101);
    text-align: center;
    padding: 25px;
    color: #444;

    text-shadow: 0px 0px 7px gray; /* Sombra de texto ( eje x positivo o negativo , eje y positivo o negativo , difuminado , color) */
}


footer {
    width: 100%;
    background-color: #eee;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #444;
    border-top: 1px solid #ccc;
}