* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 40px;
}

#cajas {
    max-width: 978px;
    border: 1px solid black;
}

.caja {
    display: block; /* Cuando flotamos elementos debe de ser siempre display: block; */

    border: 3px solid black;
    background-color: lightblue;
    width: 250px;
    height: 250px;
    margin: 15px;
    /*
    margin-top: 15px;
    margin-bottom: 45px;
    margin-left: 50px;
    margin-right: 85px;
    */
    padding: 20px;
    /*padding-bottom: 50px;*/

    float: left;
}

.caja p {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 250px;

    /*text-decoration: overline underline;*/
}

.clearfix {
    float: none; /* Hacemos que no se floten los elementos */
    clear: both; /* Limpiamos todos los flotados ( izquierda y derecha ) */
}