#boton {
    display: block;
    padding: 20px;
    background-color: green;
    color: white;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid rgb(6, 83, 6);
    
    /*transition: all 500ms;*/
    /*transition: border 500ms;*/
    transition: border 500ms ,background-color 3s, border-radius 1s;
}

#boton:hover {
    border-radius: 15px;
    background-color: orangered;
    border: 5px solid red;
}
